@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #1a1a1a;
    --footer-color: #2c2c2c;
    --gta-color: #47761e;
    --main-font: 'Tektur', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: unset;
}



#navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.5em 2em;
    position: sticky;
}

#navbar img {
    width: 60px;
}

#navbar p {
    color: #fff;
    font-family: var(--main-font);
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: var(--main-font);
    text-align: center;
}

#main h1 {
    font-size: 100px;
}

#main h1 span {
    color: var(--gta-color);
}

#main h4 {
    opacity: 61.8%;
}

#main .down-btn {
    width: 50px;
    height: 50px;
    background-color: var(--gta-color);
    border-radius: 50%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

#platforms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em 4em;
}

#platforms h2 {
    color: #fff;
    font-size: 60px;
    font-family: var(--main-font);
    text-align: center;
}

#platforms .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    gap: 50px;
    flex-wrap: wrap;
}


#platforms .container .plat img {
    width: 400px;
    height: 400px;
}

#footer {
    width: 100%;
    padding: 1em;
    background-color: var(--footer-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: var(--main-font);
}

#footer .contact {
    display: flex;
    gap: 12px;
    margin-top: 7px;
}

#footer .contact i {
    color: #fff;
}

@media (max-width: 799px) {
    #main h1 {
        font-size: 80px;
    }

    #platforms h2 {
        font-size: 45px;
    }
}

@media (max-width: 477px) {
    #navbar {
        padding: .75em;
    }

    #navbar img {
        width: 40px;
    }

    #navbar p {
        font-size: 24px;
    }

    #main {
        height: 80vh;
    }

    #main h1 {
        font-size: 40px;
        margin-top: 10px;
    }

    #main h4 {
        font-size: 14px;
    }

    #platforms {
        padding: 1em;
    }

    #platforms .container .plat img {
        width: 300px;
        height: 300px;
    }
}